@import '../../scss/main';

.round {
    border-radius: 30px !important;
    background-color: $secondary-blue !important;
    padding: 10px 20px !important;
}

.btn-padding {
    padding: 10px 20px !important;
}

.footer {
    background-color: $white;
    padding: 20px;
    position: sticky;
    display: flow-root;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 16px $shadow;
}
