@import "variables";

@media screen and (max-width: 1920px){

}

@media screen and (max-width: 1366px){
    .content {
        padding: 0 5%;
    }

    .width-85, .member {
        width: 100%;
    }
}

@media screen and (max-width: 1200px){
    .content {
        padding: 0;

        hr {
            border: 1px solid $grey-1;
        }
    }
}